/* COULEURS */
@font-face {
  font-family: "roboto-regular";
  src: url("../polices/Roboto/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
}
*:focus {
  background-color: #D0FFD0;
  outline: 3px solid #00C000;
}

html, body {
  height: 100%;
}

body {
  background-color: #FFFFC0;
  color: #000000;
  font-family: "roboto-regular";
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: #0000FF;
  text-decoration: none;
}
a:hover {
  font-style: italic;
}
a:visited {
  color: #0000FF;
}

figure {
  line-height: 0;
}

.centimes {
  font-size: 0.9em;
}

/* HEADER */
header {
  background-color: #F3E9F1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header figure {
  padding: 0 30px;
  margin: 0;
}
header figure img {
  width: 100%;
  max-width: 500px;
}
header nav {
  background-color: #D0D080;
  width: 100%;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  color: #600000;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  position: relative;
  z-index: 1;
}
header nav ul li a:visited {
  color: #600000;
}
header nav ul li a:hover {
  font-style: normal;
}
header nav ul li a:hover::after {
  opacity: 1;
}
header nav ul li a::after {
  content: "";
  background-color: #bbbb48;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}

/* Contenu de la page */
#contenu {
  flex-grow: 1;
  padding: 20px;
  /* MAIN */
}
#contenu main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */
footer {
  background-color: #404040;
  color: #FFFFFF;
  padding: 20px;
}
footer p {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

#liste-produits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;
}
#liste-produits .produit {
  margin: 30px;
}
#liste-produits .produit a {
  display: block;
  background-color: #606060;
  width: 410px;
  border: 5px solid #404040;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #808080;
  overflow: hidden;
  transition: all 300ms;
}
#liste-produits .produit a:hover {
  background-color: #608060;
  border-color: #006000;
  box-shadow: 5px 5px 5px #A0A060;
}
#liste-produits .produit a:hover p {
  background-color: #C0FFC0;
  border-color: #006000;
}
#liste-produits .produit__image {
  display: flex;
  height: 250px;
  margin: 0;
}
#liste-produits .produit__image img {
  max-width: 400px;
  max-height: 250px;
  margin: auto;
}
#liste-produits .produit__infos {
  display: flex;
  justify-content: space-between;
  background-color: #C0C0FF;
}
#liste-produits .produit__infos p {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  white-space: nowrap;
  padding: 20px;
  margin: 0;
  border-top: 5px solid #404040;
  transition: all 300ms;
}
#liste-produits .produit__infos p:nth-child(1) {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0;
}

.infos-produit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.infos-produit__image {
  margin: 0 50px 20px 50px;
}
.infos-produit__image img {
  max-width: 500px;
  min-width: 100px;
  border: 8px groove #FFC060;
  cursor: pointer;
  transition: border-color 300ms;
}
.infos-produit__image img:hover {
  border-color: #C0A040;
}
.infos-produit__texte {
  width: 500px;
}
.infos-produit__texte td:nth-child(1) {
  font-weight: bold;
  padding-right: 10px;
  vertical-align: top;
}
.infos-produit__texte #btn-ajout {
  display: block;
  margin: auto;
}

.image-fullscreen {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 50px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.image-fullscreen__produit {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.image-fullscreen__fermer {
  opacity: 0.5;
  width: 50px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
}

.form-panier__table td:nth-child(1) {
  text-align: right;
  padding-right: 10px;
}
.form-panier__btn {
  display: block;
  margin: 20px auto;
}

.infos-commande td:nth-child(1) {
  text-align: right;
  padding-right: 10px;
}
.infos-commande td:nth-child(2) {
  font-weight: bold;
}
