/* COULEURS */
$couleur-bg-page: #FFFFC0;
$couleur-bg-header: #F3E9F1;
$couleur-bg-nav: #D0D080;
$couleur-bg-footer: #404040;
$couleur-bg-focus: #D0FFD0;

$couleur-txt-page: #000000;
$couleur-txt-nav: #600000;
$couleur-txt-footer: #FFFFFF;
$couleur-txt-focus: #006000;

$couleur-bordure-focus: #00C000;

$couleur-lien: #0000FF;
$couleur-lien-visited: #0000FF;

/* DIMENSIONS */
$largeur-max-img-produit: 500px;
