/* COULEURS */
$couleur-bg-page: #FFFFC0;
$couleur-bg-header: #F3E9F1;
$couleur-bg-nav: #D0D080;
$couleur-bg-footer: #404040;
$couleur-bg-btn: #FFC080;
$couleur-bg-focus: #B0B0FF;

$couleur-txt-page: #000000;
$couleur-txt-nav: #600000;
$couleur-txt-footer: #FFFFFF;
$couleur-txt-btn: #604000;

$couleur-bordure-btn: #FF8000;
$couleur-bordure-focus: #4040FF;
