#bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-commande {
    display: none;
    margin: 10px 30px;
    &__table {
        input {
            background-color: #FFFFFF;
            padding: 5px;
            border: 3px solid #808080;
            border-radius: 8px;
            width: 100%;
            &:focus {
                border-color: $couleur-bordure-focus;
                outline: none;
            }
        }
        td:first-child {
            text-align: right;
            padding-right: 10px;
        }
    }
    &__btn {
        display: block;
        margin: 20px auto;
    }
    &__erreurs {
        color: #FF0000;
        font-size: 1.2em;
        font-weight: bold;
    }
}

.panier {
    display: none;
    margin: 10px 30px;
    &__reset {
        display: block;
        margin: 0 auto;
    }
    &__table {
        margin-top: 20px;
        border-collapse: collapse;
        td {
            background-color: #B0FFB0;
            padding: 10px;
            border: 2px solid #000000;
        }
        td:last-child {
            background-color: transparent;
            padding: 0 0 0 10px;
            border: none;
        }
        thead {
            td {
                font-size: 1.2em;
                font-weight: bold;
                text-align: center;
                background-color: #80FF80;
            }
        }
        button {
            display: block;
            background-color: transparent;
            background-image: url("../img/trash-alt-solid.svg");
            width: 21px;
            height: 24px;
            border: none;
            cursor: pointer;
        }
    }
    &__total {
        font-weight: bold;
        font-size: 1.2em;
    }
}
