.panier {
    display: none;
    margin-bottom: 30px;
}

.form-commande {
    &__table {
        td:nth-child(1) {
            text-align: right;
            padding-right: 10px;
        }
    }
    &__btn {
        display: block;
        margin: 20px auto;
    }
}
