#bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-commande {
    display: none;
    margin: 10px 30px;
    &__table {
        td:first-child {
            text-align: right;
            padding-right: 10px;
        }
    }
    &__btn {
        display: block;
        margin: 20px auto;
    }
}

.panier {
    display: none;
    margin: 10px 30px;
    &__reset {
        display: block;
        margin: 0 auto 10px auto;
    }
    &__table {
        border-collapse: collapse;
        td {
            padding: 10px;
            border: 2px solid black;
        }
        td:last-child {
            padding: 0 0 0 10px;
            border: none;
        }
        button {
            display: block;
            background-color: transparent;
            background-image: url("../img/trash-alt-solid.svg");
            width: 21px;
            height: 24px;
            border: none;
            cursor: pointer;
        }
    }
    &__total {
        font-weight: bold;
        font-size: 1.2em;
    }
}
