@font-face {
    font-family: "roboto-regular";
    src: url("../polices/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "alpha54";
    src: url("../polices/alpha54/Alpha54.ttf");
}

* {
    box-sizing: border-box;
    &:focus {
        background-color: $couleur-bg-focus;
        outline: 3px solid $couleur-bordure-focus;
    }
}

html, body {
    height: 100%;
}

body {
    background-color: $couleur-bg-page;
    color: $couleur-txt-page;
    font-family: "roboto-regular";
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'alpha54';
    font-size: 3.5em;
    text-align: center;
    margin: 10px;
}

a {
    color: $couleur-lien;
    text-decoration: none;
    &:hover {
        font-style: italic;
    }
    &:visited {
        color: $couleur-lien-visited;
    }
}

figure {
    line-height: 0;
}

.centimes {
    font-size: 0.9em;
}
