.btn {
    background-color: #FFC080;
    color: #604000;
    font-weight: bold;
    padding: 8px 15px;
    border: 5px outset #FF8000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
    &:active {
        border-style: inset;
    }
    &:focus, &:hover {
        color: #0000FF;
        border-color: $couleur-bordure-focus;
        outline: none;
    }
}
