.btn {
    background-color: $couleur-bg-btn;
    color: $couleur-txt-btn;
    font-weight: bold;
    padding: 8px 15px;
    border: 5px outset $couleur-bordure-btn;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
    &:active {
        border-style: inset;
    }
    &:focus, &:hover {
        color: #0000FF;
        border-color: $couleur-bordure-focus;
        outline: none;
    }
}
